title: Welcome to CodifyMe 
description: Transforming Cloud Operations with Purpose-Built Automation
logo: "/assets/images/codifyme_logo.png"
author: Ravi Joshi
email: ravijoshi1810@github.io

# Base URL for the repository when hosted on GitHub Pages (leave empty for root hosting)
baseurl: "/codifyme"  # Change this to match your repository name or leave as "" for root hosting
#baseurl: "" 
# URL for your live site (change it to your actual GitHub Pages URL)
#url: "https://ravijoshi1810.github.io/codifyme/"  # Change this to your actual live URL when deployed
#google_site_verification: "QjpYArnVm19JwasXg2TK74OyWE6Xsp54jhd_x9-CF48"
# For local testing, uncomment the below line and comment out the live URL above
url: "http://localhost:4000" 

#theme: bulma-clean-theme

# Uncomment this line for GitHub Pages hosting (uses remote theme)
remote_theme: chrisrhymes/bulma-clean-theme@v0.14.0  # Use when GitHub Pages are in use
# theme: bulma-clean-theme  # Comment out the theme line if using remote_theme

markdown: kramdown

# Plugins to be used in the Jekyll site
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-archives 

# Pagination settings
pagination:
  enabled: true 
  per_page: 5   
  permalink: '/page/:num/'

# Other settings
show_sidebar: true
fixed_navbar: top
nav_enabled: true
heading_anchors: true
disable_disk_cache: true  # Optional for local testing, comment for production

# Social media links
social:
  facebook: https://www.facebook.com/
  instagram: https://www.instagram.com/
  x: https://www.x.com/
  youtube: https://www.youtube.com/

# Collections settings for posts and blog series
collections:
  posts:
    output: true
    permalink: /posts/:name/
    directory: _posts
  series:
    output: true
    permalink: /series/:name/
    directory: _series

jekyll-archives:
  enabled:
    - tags
    - categories
  layout: archive # Use the layout for the archive page
  permalinks:
    tag: '/tags/:name/'
    category: '/categories/:name/'

# Disqus comments settings
disqus:
  shortname: codifyme

sass:
  style: compressed

# Jekyll environment settings (optional)
environment: "{{ jekyll.environment }}"

exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor
