{% assign tag_style = include.style | default: 'is-primary' %}
{% assign tag_name_slugified = include.tag | slugify %}
{% assign tag_archive_path = site.tag_archive.path | default: '/tags/' %}
{% assign tag_url = tag_archive_path | append: tag_name_slugified | append: '/' | relative_url %}

<a href="{{ tag_url }}" title="View posts tagged with '{{ include.tag }}'">
  <span class="tag {{ tag_style }}">
    {% comment %} This is the part that was likely wrong. It MUST be include.tag {% endcomment %}
    {{ include.tag }}
  </span>
</a>